# Machine Learning

## 1) Creando Set de Entrenamiento

In [33]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error

In [2]:
#Capitales de los Estados de México
capitales=['Aguascalientes','Mexicali','La Paz','Campeche','Tuxtla Gutiérrez','Chihuahua','Saltillo','Colima','Durango','Guanajuato','Chilpancingo de los Bravo','Pachuca','Guadalajara','Toluca','Morelia','Cuernavaca','Tepic','Monterrey','Oaxaca de Juárez','Puebla','Querétaro','Chetumal','San Luis Potosí','Culiacán','Hermosillo','Villahermosa','Victoria','Tlaxcala','Xalapa','Mérida','Zacatecas','Cuauhtémoc']

In [3]:
#Función que establece si una ciudad se encuentra en la capital del estado
def EstaEnCapital(Ciudad):
    for capital in capitales:
        if(Ciudad==capital):
            return 1
    return 0

In [4]:
#Establecemos las longitudes extremas de México
lat_maxima=32.718333
lat_minima=14.540833
lng_maxima=-86.710000
lng_minima=-118.366666

In [5]:
propiedades=pd.read_csv('train.csv')
propiedades.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,...,23533.0,NaN,NaN,2015-08-23 00:00:00,0.0,0.0,0.0,0.0,0.0,2273000.0
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,...,24514.0,19.310205,-99.227655,2013-06-28 00:00:00,0.0,0.0,0.0,1.0,1.0,3600000.0
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.0,3.0,2.0,...,48551.0,NaN,NaN,2015-10-17 00:00:00,0.0,0.0,0.0,0.0,0.0,1200000.0
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1.0,2.0,1.0,...,53666.0,19.301890,-99.688015,2012-03-09 00:00:00,0.0,0.0,0.0,1.0,1.0,650000.0
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10.0,2.0,1.0,...,47835.0,NaN,NaN,2016-06-07 00:00:00,0.0,0.0,0.0,0.0,0.0,1150000.0

In [6]:
#Cambiamos el tipo de dato de algunas columnas para bajar el uso de memoria
propiedades['antiguedad']=propiedades['antiguedad'].astype('int32',errors='ignore')
propiedades['habitaciones']=propiedades['habitaciones'].astype('int32',errors='ignore')
propiedades['banos']=propiedades['banos'].astype('int32',errors='ignore')
propiedades['gimnasio']=propiedades['gimnasio'].astype('int32',errors='ignore')
propiedades['usosmultiples']=propiedades['usosmultiples'].astype('int32',errors='ignore')
propiedades['piscina']=propiedades['piscina'].astype('int32',errors='ignore')
propiedades['escuelascercanas']=propiedades['escuelascercanas'].astype('int32',errors='ignore')
propiedades['centroscomercialescercanos']=propiedades['centroscomercialescercanos'].astype('int32',errors='ignore')

In [7]:
#Hacemos la conversión de fechas
propiedades['Fecha']=pd.to_datetime(propiedades['fecha'])
propiedades.drop(columns={'fecha'},inplace=True)
propiedades['Anio']=propiedades['Fecha'].dt.year
propiedades['Mes']=propiedades['Fecha'].dt.month
propiedades.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,lng,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio,Fecha,Anio,Mes
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,...,NaN,0,0,0,0,0,2273000.0,2015-08-23,2015,8
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,...,-99.227655,0,0,0,1,1,3600000.0,2013-06-28,2013,6
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.0,3.0,2.0,...,NaN,0,0,0,0,0,1200000.0,2015-10-17,2015,10
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1.0,2.0,1.0,...,-99.688015,0,0,0,1,1,650000.0,2012-03-09,2012,3
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10.0,2.0,1.0,...,NaN,0,0,0,0,0,1150000.0,2016-06-07,2016,6

In [9]:
propiedades['Esta_Capital']=propiedades['ciudad'].apply(EstaEnCapital)
propiedades['Esta_Avenida']=propiedades.direccion.str.contains('AV|av|Avenida|avenida')
propiedades.drop(columns={'direccion','titulo','descripcion','Fecha','id','ciudad','lat','lng','idzona'},inplace=True)
propiedades.dropna(subset=['tipodepropiedad','provincia'],inplace=True)
propiedades.fillna(0,inplace=True)
propiedades.head()

,tipodepropiedad,provincia,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio,Anio,Mes,Esta_Capital,Esta_Avenida
0,Apartamento,Distrito Federal,0.0,2.0,1.0,2.0,80.0,80.0,0,0,0,0,0,2273000.0,2015,8,0,True
1,Casa en condominio,Distrito Federal,10.0,3.0,2.0,2.0,268.0,180.0,0,0,0,1,1,3600000.0,2013,6,0,True
2,Casa,Jalisco,5.0,3.0,2.0,2.0,144.0,166.0,0,0,0,0,0,1200000.0,2015,10,0,False
3,Casa,Edo. de México,1.0,2.0,1.0,1.0,63.0,67.0,0,0,0,1,1,650000.0,2012,3,0,False
4,Apartamento,Jalisco,10.0,2.0,1.0,1.0,95.0,95.0,0,0,0,0,0,1150000.0,2016,6,0,False

## 2) Aplicación de Algoritmos

Utilizamos Mean Absolute Error (MAE) para ver la precisión de nuestra preducción, cuya formula es:

<img src="MAE.png">

In [10]:
datos=propiedades.drop(columns={'precio'})
precio=propiedades['precio']

In [11]:
datos = pd.get_dummies(datos)
datos.drop(columns={'tipodepropiedad_Garage','tipodepropiedad_Hospedaje'},inplace=True)
datos.head()

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,...,provincia_Sinaloa,provincia_Sonora,provincia_Tabasco,provincia_Tamaulipas,provincia_Tlaxcala,provincia_Veracruz,provincia_Yucatán,provincia_Zacatecas,Esta_Avenida_False,Esta_Avenida_True
0,0.0,2.0,1.0,2.0,80.0,80.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,10.0,3.0,2.0,2.0,268.0,180.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,5.0,3.0,2.0,2.0,144.0,166.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1.0,2.0,1.0,1.0,63.0,67.0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,10.0,2.0,1.0,1.0,95.0,95.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [12]:
#Preparo el set de Test para ser utilizado por los algoritmos
test_final=pd.read_csv('test.csv')
IDS=test_final[['id']].copy()
test_final['Fecha']=pd.to_datetime(test_final['fecha'])
test_final.drop(columns={'fecha'},inplace=True)
test_final['Anio']=test_final['Fecha'].dt.year
test_final['Mes']=test_final['Fecha'].dt.month
test_final['Esta_Avenida']=test_final.direccion.str.contains('AV|av|Avenida|avenida')
test_final['Esta_Capital']=test_final['ciudad'].apply(EstaEnCapital)
test_final.drop(columns={'id','titulo','ciudad','descripcion','direccion','idzona','Fecha','lat','lng'},inplace=True)
test_final.fillna(0,inplace=True)
test_final = pd.get_dummies(test_final)
test_final.drop(columns={'tipodepropiedad_0','provincia_0'},inplace=True)
test_final.head()

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,...,provincia_Sinaloa,provincia_Sonora,provincia_Tabasco,provincia_Tamaulipas,provincia_Tlaxcala,provincia_Veracruz,provincia_Yucatán,provincia_Zacatecas,Esta_Avenida_False,Esta_Avenida_True
0,29.0,3.0,0.0,4.0,300.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
1,0.0,1.0,1.0,1.0,67.0,67.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,1,0
2,0.0,2.0,1.0,2.0,87.0,100.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
3,2.0,2.0,2.0,2.0,86.0,86.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
4,10.0,2.0,1.0,1.0,80.0,76.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0

In [13]:
#Separamos el set de entrenamiento en set de entrenamiento y de validacion
test_size = 0.33
random_state = 1
datos_train , datos_test, precio_train, precio_test = train_test_split(datos,precio,test_size = test_size,random_state = random_state)

### 2.1) Árboles de Decisión

In [14]:
tree = DecisionTreeRegressor()

In [15]:
tree.fit(datos_train,precio_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [42]:
prediccion_tree_validacion=tree.predict(datos_test)

print('Mean Absolute Error: ',mean_absolute_error(precio_test,prediccion_tree_validacion))

Mean Absolute Error:  888388.606161861

In [22]:
prediccion_final=tree.predict(test_final)
entregable_tree=IDS[['id']].copy()
entregable_tree['target']=prediccion_final
entregable_tree.set_index('id',inplace=True)
entregable_tree.head()

           target
id
4941    9500000.0
51775    959000.0
115253  3310000.0
299321  1150000.0
173570   475000.0

In [186]:
entregable_tree.to_csv('ADD_6.csv')

### 2.2) KNN

In [30]:
knn = KNeighborsRegressor(n_neighbors=20)

In [31]:
knn.fit(datos_train,precio_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=20, p=2,
          weights='uniform')

In [41]:
prediccion_knn_validacion=knn.predict(datos_test)

print('Mean Absolute Error: ',mean_absolute_error(precio_test,prediccion_knn_validacion))

Mean Absolute Error:  980154.7544537816

In [26]:
prediccion_knn=knn.predict(test_final)

In [27]:
entregable_knn=IDS[['id']].copy()
entregable_knn['target']=prediccion_knn
entregable_knn.set_index('id',inplace=True)
entregable_knn.head()

           target
id
4941    1499000.0
51775    473222.0
115253   505000.0
299321   870000.0
173570  1250000.0

In [28]:
entregable_knn.to_csv('KNN_02.csv')